* {
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calc-body {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: space-around;
    height: 500px;
}

#screen-input, #screen-output {
    display:flex;
    background-color: rgb(206, 191, 191);
    width: 400px;
    height: 50px;
    margin: 0 20px 0 20px;
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis;

}

#screen-output {
    border-radius: 10px 10px 0 0;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

#screen-input {
    border-radius: 0 0 10px 10px;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.screen-text {
    margin: 0 5px 0 0px;
    
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}
#right-side {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#edit {
    display: flex;
    justify-content: space-between;
}

#operation {
    display: flex;
    flex-direction: column;
}

#numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

button {
    padding: 10px 20px 10px 20px;
    margin: 5px;
    width: 70px;
    font-size: 20px;
    border-radius: 7px;
}

button.number, button.edit, button.sign {
    width: 90px;
}

ul {
    padding: 0;
    list-style-type: none;
}
